[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"chess.com" = "*"
"discord.py" = "*"
python-dotenv = "*"
python-lichess = "*"
requests = "*"
discord-pretty-help = "*"
asyncpg = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.11"
